.notFound {
    color: #ffcc14;
    font-size: 30px;
    text-align: center;
    a{
        line-height: 250px;
        text-overflow: ellipsis;
        text-decoration: none;
        color: #efcf5b;
    }
}