// quiz

#quiz {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    img {
        padding: 20px;
        display: relative;
        max-height: 400px;
        max-width: 400px;
        height: auto;
        width: auto;
        display: flex;
        align-self: flex-end;
        margin: auto 25px;
    }
    .main-slider-slides-cnt {
        width: 100%
    } 
    .main-slide.active{
        position: relative;
    }
}

@media only screen and (max-width:590px) {
    #quiz img {
        max-height: 200px;
        max-width: 250px;
        height: auto;
        width: auto;
        display: flex;
        align-item: flex-end;
        padding: 0;
        margin: 0;
        //margin: auto auto;
    }
    .cover .coverRed p {
        margin: 5px 5px;
        padding: 0;
        font-size: 20px;
    }
    .quiz .quiz-text p{
        font-size: 25px;
    }
}

.quiz .main-slider-slides-cnt {
    height: auto;
    max-height: 600px;
}

.quiz-text {
    position: relative;
    align-self: flex-end;
    margin: auto auto;
    //display: flex;
    //align-content: flex-end;
    //justify-content: flex-end;
    p{

        &:nth-of-type(1) {
            color: rgb(211, 201, 201);
        }
        &:nth-of-type(2) {
            color: rgb(181, 168, 168);
        }
        &:nth-of-type(3) {
            color: rgb(127, 112, 112);
        }
        &:nth-of-type(4) {
            color: rgb(84, 75, 75);
        }
        
        transition: 0.5s all;
        font-size: 33px;
        font-weight: 700;
        cursor: pointer;
        &:hover{
            color: #ffcc14; 
        }
    }
}

.flexi {
    display: flex;
    justify-content: space-between;
}

.cover {
    margin: auto auto;
    transition:0.5s all;
    position: relative;
}

.coverRed {
    z-index: 10;
    position: absolute;
    display: none;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(206, 14, 14, 0.6);
    transition:0.5s all;
    
    p{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        color: #ffcc14;
        //padding: auto auto;
        margin: 30px; 
    }
}


@media only screen and (max-width:590px) {
    #quiz .quizInfo{
        margin-top: 40px;

    }
}

.quizPoints, .quizTime, .quizInfo{
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
    font-size: 24px;
    color: #ffcc14;
    font-weight: 900;
    text-align: center;
    display: inline-block;
}

.quizInfo strong {
    color: black;
    font-size: 24px;
}

#quiz .startButton{
    padding: 20px;
    background-color: #000;
    color: #ffcc14;
    display: inline-block;
    font-weight: 900;
    font-size: 30px;
    // margin: 0 auto;
    // margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition:0.3s all;
    z-index: 300;
        &:hover{
        background-color: rgb(255, 204, 20);
        color: #000;
    }
}

#quiz h1 {
    color: rgba(255, 204, 20, 0.8);
    font-size: 28px;
    color: rgb(84, 75, 75);
}